body {
  margin: 0;
  padding: 0;
  background: #2c3e50;
}

header {
  padding: 10px 100px;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 50vh;
}

section.sec1 {
  background-image: url("./assets/first_computers.jpeg");
  background-size: cover;
}

section.sec2 {
  /* padding 100px gives margin in both sides of text */
  padding: 100px;
  box-sizing: border-box;
  height: auto;
}

section.sec2 h1 {
  font-size: 2.6em;
  margin: 0;
  padding: 0 0 20px;
  color: #ecf0f1;
}

section.sec2 p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  color: #ecf0f1;
}

section.sec3 {
  background-image: url("./assets/eniac_women.jpeg");
  background-size: cover;
}

section.sec4 {
  /* padding 100px gives margin in both sides of text */
  padding: 100px;
  box-sizing: border-box;
  height: auto;
}

section.sec4 h1 {
  font-size: 2.6em;
  margin: 0;
  padding: 0 0 20px;
  color: #ecf0f1;
}

/* section.sec4 h2 {
  font-size: 2.6em;
  margin: 0;
  padding: 0 0 20px;
  color: #ecf0f1;
} */

section.sec4 p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  color: #ecf0f1;
}

section.sec5 {
  background-image: url("./assets/gen2.jpeg");
  background-size: cover;
}

section.sec7 {
  background-image: url("./assets/gen3.jpeg");
  background-size: cover;
}

section.sec9 {
  background-image: url("./assets/gen4.jpeg");
  background-size: cover;
}

section.sec11 {
  background-image: url("./assets/gen5.png");
  background-size: cover;
}

nav {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0 100px;
  float: right;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  color: #ecf0f1;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
}

nav ul li a:hover,
nav ul li a.active {
  background: #1c4b09;
}
